body {
    margin: 0;

    background: url("../img/pattern.png");

    font-family: Tahoma;
    line-height: 1.5;
    font-size: 18px;
}

.card { 
    width: 400px;
    margin: 30px auto;
    padding: 20px;

    background-color: #fff;
    box-shadow: 1px 1px 13px 8px #f6ae2d;
    border-radius: 10px;
}

.card-photo{
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;

}

.card-title {
    font-size: 25px;
    text-align: center;
    color: #cb3834;
}

.card-text {
    font-size: 14px;

}
.card-subtitle {
    font-size: 18px;
    color: #cb3834;
}
.card-prices {
    font-size: 14px; 
    padding-left: 0;
    list-style-position: 
    inside;
}